.list {
    &__value {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__btn {
        padding: 0;
        font-size: 30px;
    }
    .chip {
        margin-bottom: 4px;
    }
}