.speciality {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    gap: 10px;
    
    &__currency {
        margin-left: 8px;
        width: 64px;
        @media screen and (max-width: 359.99px) {
            width: auto;
        }
    }
}