.templates {
    margin-top: 32px;
    @media screen and (max-width: 767.99px) {
        margin-top: 12px;
    }
    &__title {
        text-align: center;
        margin: 32px 0;
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        @media screen and (max-width: 767.99px) {
            margin: 16px 0;
            font-size: 24px;
            line-height: 26px;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 16px;
        @media screen and (max-width: 999.99px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 559.99px) {
            grid-template-columns: 1fr;
            grid-gap: 12px;
        }
    }
    .template {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        min-height: 500px;
        height: 100%;
        width: 100%;
        transition: .5s ease all;

        cursor: pointer;
        @media screen and (min-width: 1200px) {
            &:hover {
                transform: scale(1.05);
            }
        }
        @media screen and (max-width: 767.99px) {
            // min-height: 300px;
        }
    }
}