.layout {
    margin-top: 16px !important;
    &__sidebar {
        position: fixed;
        background: inherit;
        width: 200px;
        z-index: 99;
    }
    &__content {
        left: 216px;
        padding: 12px;
        max-width: 800px;
        background: #ffffff;
        border-radius: 16px;
        position: relative;
    }
}