.layout {
    margin-top: 16px !important;
    &__sidebar {
        position: fixed;
        background: inherit;
        width: 200px;
        z-index: 99;
    }
    &__content {
        left: 50%;
        transform: translateX(-50%);
        padding: 12px;
        max-width: 800px;
        background: #ffffff;
        border-radius: 16px;
        position: relative;
        min-height: calc(100vh - 76px); // header height + layout margin top -> need refactoring use variables

    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
        padding-bottom: 8px;
        font-weight: 700;
        font-size: 18px;
        line-height: 16px;
        border-bottom: 1px solid #ededed;
    }
}