html, body {
  scroll-behavior: smooth;
}

html {
  font-size: $fs-rem-xl;
}

body {
  background: $bg-main !important;
}

.main{
  padding-top: 60px;
}

.container {
  width: 100%;
  max-width: $max-container-media;
  margin: 0 auto;
  padding: 0 16px;
}

