html, body {
  scroll-behavior: smooth;
}

html {
  font-size: $fs-rem-xl;
}

body {
  background: $bg-main !important;
}

.main{
  padding-top: 60px;
}

.container {
  width: 100%;
  max-width: $max-container-media;
  margin: 0 auto;
  padding: 0 16px;
}

.fade-enter{
  opacity: 0;
  transform: translateX(-100%);

}
.fade-exit{
  opacity: 1;
  transform: translateX(0%);
}
.fade-enter-active{
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active{
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active{
  transition: opacity 300ms, transform 300ms;
}

