.simple {
    display: flex;
    padding:12px 0;
    border-bottom: 1px solid #d7d3d3;
    &__title {
        margin-right: 64px;
        width: 150px;
        font-weight: 700;
    }
    &__text {
        width: 100%;
    }
}