.header {
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 100;
    background: #F0FCFF;
    margin-bottom: 20px;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}