.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #000;
    &__fullname {
        margin-bottom: 2px;
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
    }
    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__profession {
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
        font-style: italic;
    }
    &__location, &__email {
        margin-bottom: 2px;
        font-size: 14px;
        line-height: 16px;
    }
    &__site{
        font-size: 14px;
        line-height: 16px;
    }
}