.steps {
    margin-top: 32px;
    &__title {
        text-align: center;
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 16px;
        margin-top: 32px;
    }
    .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 222px;
        background: #fff;
        border-radius: 16px;
        &__title {
            margin-bottom: 16px;
            font-weight: 700;
            font-size: 24px;
            line-height: 26px;
        }
        &__text {
            font-size: 18px;
            line-height: 20px;
        }
    }
}