.steps {
    &__title {
        text-align: center;
        margin: 32px 0;
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        @media screen and (max-width: 767.99px) {
            margin: 16px 0;
            font-size: 24px;
            line-height: 26px;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 16px;
        @media screen and (max-width: 999.99px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 559.99px) {
            grid-template-columns: 1fr;
            grid-gap: 12px;
        }
    }
    .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 222px;
        background: #fff;
        border-radius: 16px;
        &__title {
            margin-bottom: 16px;
            font-weight: 700;
            font-size: 24px;
            line-height: 26px;
        }
        &__text {
            font-size: 18px;
            line-height: 20px;
        }
    }
}